@media (min-width: 0px) and (max-width: 768px) {
  div#cards {
    order: -1;
    margin-bottom: 2em;
  }
}

div#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.loader {
  width: 120px;
  height: 120px;
  margin: 0;
  background: transparent;
  border-top: 4px solid #434af9;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

span.separador {
  color: #ffffff70;
}

#grafico {
  margin-top: 2em;
}
